body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #32bea6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin-top: 20px; /* Only top margin to push container down from the header */
}

.header {
  background-color: #009688;
  color: white;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.subscription-area, .query-area {
  background-color: #4db6ac;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
}

.subscriptions {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns by default */
  gap: 20px; /* Space between grid items */
  padding: 10px;
}

.subscription-item {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="email"], input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #654ea3;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #543c9c;
}

a {
  display: block;
  margin-top: 20px;
  color: #654ea3;
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 10px;
}

/* Responsive adjustments for tablet screens */
@media (max-width: 1024px) {
  .subscriptions {
    grid-template-columns: repeat(2, 1fr); /* Two columns on tablet screens */
  }
}

/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  .subscriptions {
    grid-template-columns: 1fr; /* One column on mobile screens */
  }
}
